<div class="registerModalWrapper hiddenRegisterModal">
    <div class="registerModal hiddenRegisterModal">
        <div class="registerModalHeader">
            <div class="registerModalIconContainer">
                <img class="registerModalCloseIcon" src="./assets/images/pop-up-icone-fechar-15.svg">
            </div>
            <h4 class="registerModalTitle">Criar conta</h4>
        </div>
        
        <section class="registerFormFields">

        </section>

        <section class="registerFormBottom">
            <div class="registerFormRequestResponse"></div> 
            <div class="registerFormSendButton">Criar conta</div> 
        </section>
    </div>
</div>