<div class="loginModalWrapper hiddenLoginModal">
    <div class="loginModal hiddenLoginModal">
        <div class="loginModalHeader">
            <div class="loginModalIconContainer">
                <img class="loginModalCloseIcon" src="./assets/images/pop-up-icone-fechar-15.svg">
            </div>
            <h4 class="loginModalTitle">Fazer login</h4>
        </div>
        
        <section class="loginFormFields">

        </section>

        <section class="loginFormBottom">
            <div class="loginFormRequestResponse"></div> 
            <div class="loginFormSendButton">Login</div> 
        </section>
    </div>
</div>