/************* AMAZONIA LEGAL (AML) GENERAL SPECIFICATIONS *****************/

body{
    color: #000;
  }
  
  h2{
    letter-spacing: 0.04em !important;
  }
  
  .avatar{
    border-radius: 50% !important;
    background-color: #e1dcdc;
    height: 40px;
    width: 40px;
    padding-top: 9px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  
  .bg-green{
    background: #3ac09a !important;
  }
  
  .bg-bordo{
    background: #681139 !important;
  }
  
  /************* AMAZONIA LEGAL GENERAL SPECIFICATIONS *****************/
  
  .app-sidebar.sidebar-text-light .vertical-nav-menu li a{
    color: rgba(255,255,255,1) !important;
  }
  .btn-secondary:hover {
      background-color: #7f3457 !important;
  }
  label{
    color: #0c2a21;
    font-weight: bold;
    font-size: 14px;
  }
  .fa-calendar-alt::before{
    color:  #656E6B !important;
  }
  .datepicker-panel > ul > li:hover{
    background-color: #3AC09A !important;
    opacity: .5;
  }
  .page-title-wrapper {
      background: none !important;
      background-repeat: repeat;
      background-size: auto;
      background-repeat: no-repeat;
      color: #ffffff;
      border-radius: 10px;
      background-size: 100% 100%;
      height: 165px;
      line-height: 48px;
  }
  
  .app-page-title .page-title-heading {
      padding: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-bottom: 25px;
      padding-top: 10px;
  }
  
  .opcy-30{
    opacity: .3;
  }
  
  .input-group-text{
    background-color: #f7f7f7 !important;
  } 
  label{
    color: #4f5153;
  }
  
  h1{
    letter-spacing: 0.04em;
  }
  
  h5{
    letter-spacing: 0.02em;
  }
  
  h4{
    letter-spacing: 0.02em;
  }
  
  .btn-primary{
    border-color: #923c64;
    width: 110px;
  }
  
  .btn-primary:hover{
    background-color: #7f3457 !important;
  }
  
  .slick-prev, .slick-next{
    background: transparent;
    box-shadow: none;
    font-weight:bold;
    color: #681139;
  }
  
  @media (min-width: 768px) {
    .user-name{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      line-height: 24pt;
    }
  
    .form-group-1{
      max-width: 260px;
      height: 40px;
    }
  
    .form-group-2{
      max-width: 345px;
      height: 35px;
    }
  
    body{
      padding: 0px !important;
    }
  
    .vertical-nav-menu li{
      /*padding-bottom: 25px !important;*/
    }
  
    .vertical-nav-menu li a{
      letter-spacing: 0.05em;
      font-size: 13.5px !important;
    }
  
  }
  
  .container-success{
    font-weight: bold;
    margin-left: 15px;
    vertical-align: middle;
    height: 20px;
    text-align: center;
  }
  
  .vertical-nav-menu li a{
    font-weight: 700;
  }
  
  .btn .btn-secondary:hover{
    background: rgba(255,255,255,0.15) !important;
  }
  
  .menu-icon{
    width: 25px;
    height: 25px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
  }
  
  .dropdown-menu-header .menu-header-image{
    opacity: 100% !important;
  }
  
  a.nav-link{
    color: #681139 !important;
    font-weight: bold !important;
  
  }
  
  .vertical-nav-menu li a{
    letter-spacing: 0.05em;
  }
  
  #logo{
    margin-bottom: -13px;
  }
  
  .app-sidebar.sidebar-text-light .vertical-nav-menu li a:hover{
    background-color: #7f3457 !important;
    border-radius: 10px;
  }
  
  .app-sidebar .app-sidebar__inner {
      padding: 35px 1.5rem 1.5rem 0.75rem;
  }
  
  .app-theme-white .app-footer .app-footer__inner, .app-theme-white .app-header{
    background: #e5e5e5;
  }
  
  .app-wrapper-footer .app-footer {
    border-top: none;
  }
  
  .card-title{
    color: #495057;
    text-transform: none;
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
  label{
    font-size: 16px;
    font-style: italic;
  }
  .app-page-title .page-title-heading{
    padding-bottom: 0px !important;
    
  }
  .card-header.card-header-tab .card-header-title{
    text-transform: none;
    display: block;
    text-align: center;
    width: inherit;
    min-width: 99%;
  }
  .card-header.card-header-tab .card-header-title p{
    line-height: 24px;
    margin-top: 10px;
    margin: 15px auto 5px;
    font-size: 0.90rem;
  }
  .card-header.card-header-tab .card-header-title p.noticias{
    line-height: 48px;
    margin-top: 10px;
  }  
  .card-header.card-header-tab .card-header-title h3{
    font-weight: 700;
    color: #495057;
    margin: 0 auto;
    letter-spacing: 0.04em;
    line-height:1.3rem;
    font-size: 1.4rem;
  }
  .card-header.card-header-tab, .card{
    border-radius: 5px;
  }
  .card-header.card-header-tab{
    border-bottom: 0px;
    border-top: 10px;
    border-radius: 5px;
  }
  .card-secao .card-header.card-header-tab,
  .card-secao .card-body{
    border: 1px solid #d0d0d0;
  }
  .card-secao .card-body{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
  }  
  .hometopslider{
    max-width: 100% !important;
    cursor: pointer;
  }
  .prev5, .next5{
    top: 70% !important;
  }
  .slider-light{
    max-width: 650px;
  }
  .slick-slider .slide-img-bg{
    opacity: 1;
  }
  .slick-slider:not(.news-carrousel) .slick-list{
    filter: brightness(0.7);
    height: 400px;
    border-radius: 15px;
    border-bottom: 0px;
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    color: #3ac09a;
  }
  
  .news-carrousel.slick-slider .slick-list{
    filter: brightness(1);
    height: 340px;
  }
  
  .news-carrousel img{
    margin-left: -5px;
  }
  
  .card-noticia p:first-child{
    font-size: 12px;
    position: absolute;
  }

  .card-noticia h5:nth-child(2){
    margin-top: 25px;
  }
  
  .card .data h6:first-child{
    font-weight: bold;
    width: 200px;
    line-height: 18px;
    color: #495057;
    font-size: 14px;
  }
  
  .app-theme-white .app-page-title{
    background:rgb(255, 255, 255,1);
  }
  .news-carrousel{
    max-width: 1150px;
  }
  .card-noticia{
    background: #fff !important;
    box-shadow: 1px 1px 1px #d0d0d0;
    border: 1px solid #e7e7e7;
    height: 340px !important;
    width: 317px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .left, .right{
    width: 40%;
  }
  .left{
    padding: 15px;
    width: 60%;
  }
  .news-carrousel .slick-next{
    margin-right: -5%;
  }
  .news-carrousel .slick-prev{
    margin-left: -5%;
  }
  .news-carrousel img{
    margin-top: 50%;
  }
  .card-noticia a{
    font-size: 16px;
    font-weight: 700;
  }
  .card-noticia .read-more a{
    font-weight:500;
    color: #681139;
  }
  a, a:hover{
    color: #495057;
  }
  
  a:hover{
    color: #681139;
  }
  .card-noticia .read-more a:hover{
    font-weight:bold;
  }
  a:hover{
    text-decoration:none;
  }
  
  .app-main__outer{
    /*background: #fff;*/
  }

  @media (max-width: 768px){
    .img-slider{
      width:100%;
    }
    .card-header.card-header-tab .card-header-title{
      display: block !important;
    }
    .card-header.card-header-tab .card-header-title p{
      font-size: 12px;
    }
    .icon-d img{
      width: 25%;
    }
    .header-user-info{
      display: initial !important;
    }
    .app-header .app-header__content{
      background: #3ac09a;
    }
    #logo{
      margin-left: -25px !important;
    }
    .app-page-title .page-title-heading, .app-page-title .page-title-wrapper{
      display: none !important;
    }
    .offset-3{
      margin-left:0% !important;
    }
    .mobile-toggle-header-nav:not(:disabled):not(.disabled):active,
    .mobile-toggle-header-nav:not(:disabled):not(.disabled).active, 
    .show > .mobile-toggle-header-nav.dropdown-toggle, 
    .mobile-toggle-header-nav{
      background: #3ac09a !important;
      border: #3ac09a !important;
    }
    
  }
  
  @media (min-width: 768px){
    .page-title-heading-pre-perfil {
      justify-content: center;
      font-weight: 700 !important;
      padding-bottom: 0px !important;
      padding-top: 20px !important;
    }
    .app-page-title .page-title-heading{
      padding-bottom: 0px !important;
    }
    .card-header {
      height: 10em;
    }
    .card-secao .card-header{
      height: 9.7em;
    }
    .tab-noticia{
      height: 11em;
    }
    .card-body{
      background: #fff;
      border-radius: 20px;
      margin-top: -29px;
      height: 400px;
      text-align: center;
    }
    #tab-content-2 .card-body{
      height: 400px;
    }
    .vertical-nav-menu li a{
      font-size: 0.84rem !important;
    }
    .card{
      display: inline;
    }
    .col-lg-3{
      flex: 0 0 27.5% !important;
      max-width: 27.5% !important;
    }
    .col-destaques .card{
      background: #fff;
      box-shadow: 1px 1px 1px #d0d0d0;
      border: 1px solid #e7e7e7;
      border-radius: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 75px;
    }
    .col-destaques .card:hover{
      cursor: pointer;
    }
    .card img {
      width: 75px;
      background: #dfc5d1;
      display: inline-block;   
      border-radius: 5px;
      position: relative;
     } 
     .card .icon-d img {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
     } 
     .card-noticia img{
        background: url("../../../assets/images/AML/defaultNoticia.png");
        width: 100px;
        height: 100px;
        border-radius: 10px;
     }
    .card-noticia img:after {  
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-family: 'Helvetica';
        font-weight: 300;
        line-height: 2;  
        text-align: center;
        content: "";
        background: url("../../../assets/images/AML/defaultNoticia.png");
        border-radius: 10px;
    }
    .card .img-slider{
      width: 100%;
    }
    .col-lg-6, .col-lg-12{
      margin-bottom: 20px;
    }
    .data{
      position: absolute;
      left: 28%;
      top: 10.5%;
    }
    .col-lg-4.card{
      padding: 0px;
      margin: 0px 7px 15px;
      max-width: 32%;
    }
    .col-destaques{
      padding-left: 5%;
      margin-bottom: 0px;
      margin-top: 145px;
      padding-right: 0px;
      margin-bottom: -15px;
    }
    .title-description{
      font-style: italic;
      height: 30px;
      margin-top: 15px;
      font-size: 1.2em;
      letter-spacing: 0.02em;
      line-height: 1.1em;
      color: #c8c8c8;
      padding-top: 15px;
    }
    .icon-d{
      background: linear-gradient(90deg, transparent 0%, transparent 35%, rgb(223, 197, 209) 100%);
      width: 75px;
      height: 75px;
      margin-left: -15px;
    }
    #tab-content-2 {
      background: #fff;
      margin: 0px 0px 0px;
    }
    .data-fonte{
      margin-top: 5%;
      line-height: 10px;
      height: 45px;
    }
    .fonte{
      font-weight: bold;
      font-size: 16px;
    }
    .read-more{
      color: #681139;
      font-weight: normal;
      margin-top: 25px;
    }
    .fixed-header .app-main{
      padding-top:60px !important;
    }
  
  }

  @media (min-width: 1300px){

    .col-destaques{
      margin-top: 85px;
    }

  }

  @media (min-width: 1400px){
    .hometopslider{
      margin-top: 4.5% !important;
    }
    .col-destaques{
      margin-top: 10%;
    }
  }

  @media (width: 1440px){
    .hometopslider{
      margin-top: 3% !important;
    }
  }

  @media (min-width: 1900px){
    .card-body{
        height: 500px;
    }
    .hometopslider{
      margin-top: 8% !important;
    }
    .col-destaques{
      margin-top: 13.3% !important;
    }
  }
    
  @media (min-width: 2000px){
    .card-body{
        height: 675px;
    }
    .col-destaques{
      margin-top: 16% !important;
    }
    .hometopSlide{
      margin-top: 4.5% !important;
    }
  }

  