@import './variaveisModal.scss';
@import './mixinsModal.scss';

.surveyModal
{
    background: #FFFFFF;
    height: auto;
    margin: 1rem auto;
    padding: 1.2rem;

    opacity: 1;
    border-radius: 10px;

    .surveyModalHeader
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .surveyModalTitle
    {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: $tamanhoFonteTitulo;
        color: $corTitulo;
        margin: 1rem auto;
    }

    .surveyModalIconContainer
    {
        text-align: right;
    }

    .surveyModalCloseIcon
    {
        width: $tamanhoIcone;
        height: $tamanhoIcone;
        cursor: pointer;
    }

    .surveyModalButtonsContainer
    {
        display: flex;
        justify-content: center;        
    }

    .surveyModalButton
    {
        font-family: 'Open Sans';
        font-size: $tamanhoFonteBotao;

        padding: 0.5rem;
        color: white;
        width: 25%;
        border-radius: 10px;
        text-align: center;
        margin: 1rem;
        cursor: pointer;

        &.inactiveButton
        {
            background-color: $corBotaoInativo;
        }
    }

    .confirmButton
    {
        background-color: $corBotaoSim;
    }

    .negateButton
    {
        background-color: $corBotaoNao;
    }

    .surveyModalSection
    {
        width: 80%;
        margin: 0 auto;
        @include buttonText;
        color: $corMenu;

        .sectionTitle
        {            
            text-align: center;
            @include buttonText;
            font-weight: bold;
        }

        .sectionSelect
        {
            border-radius: 5px;
            border: 1px $corMenu solid;
            margin-bottom: 2rem;
            
            &.invalidInput
            {
                border-color: $corValorIndefinido;
            }
        }

        .sectionDisplay
        {
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
        }

        .sectionValue, .surveyModalDisplayIcon
        {
            margin: auto 0;
        }

        .options
        {
            padding: 0.5rem;
            border-top: 1px $corMenu solid;

            &.hiddenOptions
            {
                display: none;
            }
        }

        .option
        {
            font-size: 10px;
            font-style: normal;
        }

        .occupationOption
        {
            display: block;
        }

        &.hiddenSection
        {
            display: none;
        }


        @include mediaQuery('phone-small')
        {
            width: 90%;
        }
    }


    .occupationOptions
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:stretch;
        height: 80px;
        flex-direction: column;
    }

    .stateOptions
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:stretch;
        height: 220px;
        flex-direction: column;
    }

    .surveyModalDisplayIcon
    {
        width: $tamanhoIcone;
        height: $tamanhoIcone;
        cursor: pointer;

        &.hiddenIcon
        {
            display: none;   
        }
    }

    &.hiddenSurveyModal
    {
        opacity: 0;
    }

    input[type=checkbox]
    {
        margin-right: 5px;
    }

    .formBottom
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .sendButton
    {
        width: 100px;
        padding: 0.5rem;
        background-color: $corBotaoEnvio;
        color: white;
        border-radius: 5px;
        text-align: center;
        @include buttonText;
        margin-left: 1rem;
        cursor: pointer;
        
        &.hiddenButton
        {
            display: none;
        }
    }
    
    .requestResponse
    {
        font-size: 1.5rem;
        font-weight: bold;
        color: $corBotaoEnvio;

        &.hiddenResponse
        {
            display: none;
        }
    }

    @include mediaQuery('phone-small')
    {
        width: 85%;
    }

    @include mediaQuery('tablet-wide')
    {
        width: 50%;
    }
}

.surveyModalWrapper
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1001;

    transition: opacity 2s ease-in-out;

    &.hiddenSurveyModal
    {
        display: none;
        opacity: 0;
    }
}