.app-footer{
  margin-left: 0px !important;
}

.app-theme-white .app-footer .app-footer__inner, .app-theme-white .app-header{
  background: #e5e5e5;
}


/************* AMAZONIA LEGAL (AML) GENERAL SPECIFICATIONS *****************/

.avatar{
  border-radius: 50% !important;
  background-color: #e1dcdc;
  height: 40px;
  width: 40px;
  padding-top: 9px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.bg-green{
  background: #3ac09a !important;
}

.bg-bordo{
  background: #681139 !important;
}

.btn .btn-secondary:hover{
  background: rgba(255,255,255,0.15) !important;
}

.menu-icon{
  width: 34px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -17px;
  font-size: 1.5rem;
}

.opcy-30{
  opacity: .3;
}

/************* AMAZONIA LEGAL OTHER SPECIFICATIONS *****************/

.page-title-wrapper{
  background: url("../assets/images/AML/header.png");
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 10px;
}

.btn-focus{
  background-color: #681139;
}

.filtro-ico {
/*    position: absolute;
    top: 16%;
    font-size: 13px;
    left: 3%;*/
}

.btn-email{
  margin-right: -10px;
}

.dropdown-menu-header .menu-header-image{
  opacity: 1;
}

@media (min-width: 768px) {
  .user-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 24pt;
  }
  .page-title-wrapper{
      background: url(../../../assets/images/AML/header.png); 
      /* background-repeat: no-repeat; */
      /* color: #ffffff; */
      border-radius: 7px;
      background-size: 100% 100%;
      size: 42px;
      line-height: 48px;
      height: 165px;
  }  

  .vertical-nav-menu li{
    /*padding-bottom: 25px !important;*/
  }

  .vertical-nav-menu li a{
    letter-spacing: 0.05em;
    font-size: 13px !important;
  }

  .app-sidebar .app-sidebar__inner {
    padding: 25px 1.5rem 1.5rem 1rem;
  }

  .menu-icon {
      width: 25px;
      height: 25px;
      line-height: 34px;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -17px;
      font-size: 1.5rem;
  }

  #logo{
    margin-bottom: -13px;
  }

  .form-control-1{
    max-width: 160px;
  }

  .vertical-nav-menu li a{
    font-size: 0.84rem !important;
    color: #fff !important;
  }

}
.app-footer{
  margin-left: 0px !important;
}

.app-theme-white .app-footer .app-footer__inner, .app-theme-white .app-header{
  background: #e5e5e5;
}

.informacoesContato .textoCadastroEmail{
  width: 245px !important;
}

@media (min-width: 1200px){
  .registerModal, .loginModal{
    margin: 4rem auto !important;
  }
}


