.app-footer {
  margin-left: 0px;
  background-color: #e5e5e5;
  padding: 0.5rem 0;
  height: 120px;
}
.app-footer .app-footer__inner {
  background-color: #e5e5e5;
  height: 120px;
}

.informacoesContato {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e5e5e5;
  height: 100%;
}
.informacoesContato .containerRodape {
  width: 31%;
  padding-top: 1rem;
}
.informacoesContato .emailContato {
  font-family: "Open Sans";
  font-size: 1rem;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
.informacoesContato .iconeEmailContato {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}
.informacoesContato .linkEmailContato {
  text-decoration: none;
  height: fit-content;
  color: #495057;
}
.informacoesContato .cadastroEmailTitulo {
  font-family: "Open Sans";
  font-size: 1rem;
  color: #495057;
  font-weight: bold;
  text-align: center;
}
.informacoesContato .iconeCadastroEmail {
  width: 20px;
  height: 20px;
}
.informacoesContato .cadastroEmailInput {
  margin: 0 auto;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.informacoesContato .cadastroEmailInput.invalidEmailInput {
  border: 1px solid red;
}
.informacoesContato .textoCadastroEmail {
  border: none;
  flex: 2 1;
  margin: 0 auto;
  background-color: none;
}
.informacoesContato .textoCadastroEmail:focus {
  outline: none;
}
.informacoesContato .envioCadastroEmail {
  background-color: #681139;
  color: white;
  display: inline;
  padding: 0.5rem 1.5rem;
  border-radius: 0.1rem;
  cursor: pointer;
}
.informacoesContato .retornoCadastro {
  color: #681139;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.informacoesContato .retornoCadastro.semRetorno {
  display: none;
}
.informacoesContato .logoMacroplan {
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
}
.informacoesContato .textoLogo {
  font-family: "Open Sans";
  font-size: 1rem;
  color: #495057;
  padding-left: 2rem;
  padding-top: 2rem;
}
.informacoesContato .imagemLogo {
  width: 170.9259259259px;
  height: 65px;
}

@media (max-width: 768px){
  .informacoesContato .cadastroEmail.containerRodape{
    padding-top: 9rem !important;
    width: 45% !important;
  }
  .informacoesContato .linkEmailContato{
    width: 15px !important;
    font-size: 14px !important;
  }
  .informacoesContato .imagemLogo{
    width: 105px !important;
    height: initial !important;
    margin-top: -15px;
  }
  .informacoesContato .textoLogo{
    display: none !important;
  }
}
