.recuperarSenhaModal {
  background: #FFFFFF;
  height: 90%;
  margin: 1rem auto;
  padding: 1.2rem;
  overflow-y: auto;
  opacity: 1;
  border-radius: 10px;
}
.recuperarSenhaModal .recuperarSenhaModalHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recuperarSenhaModal .recuperarSenhaModalTitle {
  font-family: "Open Sans";
  font-weight: "bold";
  font-size: 33px;
  color: #fff;
  margin: 1rem auto;
}
.recuperarSenhaModal .recuperarSenhaModalIconContainer {
  text-align: right;
}
.recuperarSenhaModal .recuperarSenhaModalCloseIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.recuperarSenhaModal.hiddenrecuperarSenhaModal {
  opacity: 0;
}
@media only screen and (min-width: 320px) {
  .recuperarSenhaModal {
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  .recuperarSenhaModal {
    width: 30%;
  }
}
.recuperarSenhaModal .recuperarSenhaFormBottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.recuperarSenhaModal .recuperarSenhaFormSendButton, .recuperarSenhaModal .enviarTokenFormSendButton {
  padding: 0.5rem;
  color: #681139;
  background-color:#ffff;
  border-radius: 5px;
  cursor: pointer;
  letter-spacinG: 0.04em;
  text-align: center;
  font-weight: 700;
  margin-right: -18px;
  margin-top: 15px;
  box-shadow: 1px 1px 1px #610d33;
  border: 1px solid #6f123c;
  background-color: #480625;
  color: #fff;
  width: 120px;
}
.recuperarSenhaModal .recuperarSenhaFormSendButton:hover,
.recuperarSenhaModal .enviarTokenFormSendButton:hover{
  background-color: #7f3457;
}

.recuperarSenhaModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  transition: opacity 2s ease-in-out;
}
.recuperarSenhaModalWrapper.hiddenrecuperarSenhaModal {
  display: none;
  opacity: 0;
}

.fieldsGroup {
  margin-bottom: 68px;
}
.fieldsGroup .recuperarSenhaFormField {
  width: 100%;
  font-family: "Open Sans";
  font-weight: "bold";
  font-size: 24px;
  color: #495057;
  transition: border 0.6s linear;
  border-radius: 5px;
}
.fieldsGroup .recuperarSenhaFormField:not(:last-child) {
  margin-bottom: 34px;
}
.fieldsGroup .recuperarSenhaFormField.invalidInput {
  border: 1px solid red;
}
.fieldsGroup .recuperarSenhaFormFieldTitle, .recuperarSenhaFormFieldTitle {
  font-family: "Open Sans";
  font-weight: "bold";
  font-size: 18px;
  color: #fff;
}

.recuperarSenhaFormRequestResponse{
  font-weight: bold;
  color: red;
  padding: 10px;
  padding-left: 0px;
  margin-left: -18px;
}

.linkLogin, .linkLogin:hover, .linkLogin:active, .linkLogin:visited{
  color: #fff;
}

